<div class="heading">
	<h4>CONTACTS</h4>
</div>

	<ul>
	<% @contacts.each do |contact| %>
		<li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></li>
	<% end %>
	</ul>

	