<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>

		<!-- GOOGLE FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,700,300' rel='stylesheet' type='text/css'>
		
		<!--  CUSTOM CSS  -->
		<link rel="stylesheet" href="/base.css" type="text/css"/>
	</head>
	<body>
		
		<div class="nav">
			<div class="container">
				<div id="top-left">
					<h4>INPUT CRM</h4>
				</div>
				<nav id="top-right">
					<ul>
						<li><a href="/">HOME</a></li>
						<li><a href="/contacts">CONTACTS</a></li>
						<li><a href="/contacts/new"><span id="add-contact">ADD CONTACT</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		

		<div class="container">
			<!-- <h1>Welcome to <%= @crm_app_name %></h1> -->

			<%= yield %>
		</div><!-- end of container -->
	</body>
</html>