<!-- <link type="text/css" rel="stylesheet" href="/base.css"> -->

<div class="heading">
	<h4>Create new Contact</h4>
</div>


	<form class="form" action="/contacts" method="post">
		<input type="text" name="first_name">
		<input type="text" name="last_name">
		<input type="text" name="email">
		<input type="text" name="note">
		<input type="submit" name="Submit">
	</form>

