/*  ========================================

	Fonts: ;
	
	COLOUR PALLET
	---------------------

	Cream Can:  #F5D76E;
	Red:		#C0141B
	blue:		#03A6CE

=========================================  */





/* ============== GENERAL =============== */

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	/*border: 1px dashed red;*/
}

html, body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 960px;
}


/* ========== HEADER ========== */

.heading {
	padding: 30px;
}


.nav {
	background-color: #F5D76E;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: auto;
}

#top-left {
	float: left;
	width: 20%;
}

#top-right {
	float: right;
	width: 60%;
}


nav {
	
	color: white;
	top: 0;
	left: 0;
	margin: 0 auto;
	

}

nav > ul {
	margin: 0 auto;
	text-align: right;
	


}


nav > ul > li {
	display: inline-block;
	margin: 0 auto;
	padding: 4px;
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;

}

nav > ul > li > a {
	text-decoration: none;
	color: black;
}

nav > ul > li > a:hover{
	color: #fff;
}



}

/* ========== TYPOGRAPHY ========== */


h1 {
	font-size: 45px;
	padding: 10px;
}

h4 {
	margin-top: 10px;
}


/* ========== NEW CONTACT ========= */

*:focus {
	outline: none;
}	

/*:-moz-placeholder {
	color: blue;
}

::-webkit-input-placeholder {
	color: blue;
}*/

.new_contact_form ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

.new_contact_form li {
	padding: 12px;
	border-bottom: 1px solid #eee;
	position: relative;
}







